.button{
    margin: 0 20px 10px 20px;
    padding: 5px 20px 5px 20px;
    border: 2px solid black;
}
a{
    color: black;
}
.wrapper{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
header{
    position: sticky;
    border: 2px solid black;
    padding: 20px 20px 20px 20px;
    height: fit-content;
}
img{
    height: 10vh;
}
section{
    border: 2px solid black;
    margin: 1vh
    
}
#shoeAdd{
    float:  right;
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
    display: inline;
}
input{
    margin-bottom: 10px;
    width: 100%;
}

#closeShoeWindow{
    background-color: red;
    color: white;
}