.button{
    margin: 0 20px 10px 20px;
    padding: 5px 20px 5px 20px;
    border: 2px solid black;
    border-radius: 5px;
}
a{
    color: black;
}
.wrapper{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;

}
header{
    position: sticky;
    border: 2px solid black;
    padding: 20px 20px 20px 20px;
    height: fit-content;
    border-radius: 10px;
    text-align: center;
}
img{
    height: 10vh;
}
section{
    border: 2px solid black;
    margin: 1vh;
    border-radius: 10px;
}
#shoeAdd{
    float:  right;
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
    display: inline;
    border-radius: 5px;
}
input{
    margin-bottom: 10px;
    width: 100%;
    background-color: #efefef;
}

#closeShoeWindow{
    background-color: red;
    color: white;
}
h2{
    font-family: sans-serif;
}
h3{
    font-family: sans-serif;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
}
.shoeInput{
    border: 2px solid black;
    border-radius: 3px;
}
